.navbar-brand {
  /* font-family: "Slabo 27px", serif; */
  font-family: "Charm", cursive;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgb(202, 128, 128);
}
.phName {
  font-family: "Slabo 27px", serif;
  margin-top: 1%;
  color: rgb(202, 128, 128);
}
#Home,
#navbarDropdown,
#Contact,
#drDown,
#footerName,
#Email {
  color: rgb(202, 128, 128);
}

#lastName,
.emailL,
.firName,
.messageL {
  color: rgb(202, 128, 128);
}

.submit:hover {
  color: #f3430d !important;
}
.nav-link:hover {
  color: #6e5b54 !important;
}

/*sticky header position*/
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.navbar-nav {
  margin-left: 60%;
}

body {
  min-height: 850px;
}

nav {
  background: #eaebec;
  min-height: 85px;
}

.bio-image {
  margin-left: 5%;
  height: 520px;
  margin-top: 5%;
}
.contForm {
  margin-bottom: 10%;
}
.contMe {
  text-align: center;
  margin-top: 5%;
}
#conMeh4 {
  padding-bottom: 20px;
  color: rgb(160, 76, 76);
  margin-top: 2%;
  text-align: center;
  border-bottom: 2px solid rgb(160, 76, 76);
}
p {
  color: rgb(160, 76, 76);
}

.letsTalk {
  margin-top: 5%;
  color: rgb(160, 76, 76);
}

#footerName {
  padding-top: 20px;
  font-family: "Charm", cursive;
}

#Email {
  margin-left: 47%;
  color: rgb(202, 128, 128);
}

.submit {
  margin-top: 1%;
  color: rgb(160, 76, 76);
}

/* Sticky footer styles
                  -------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: 85px;
  background-color: hsl(120, 4%, 91%);
}

html {
  height: 100%;
  position: relative;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
