/* #bodyimg {
  background-image: url(images/main.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
  width: 100%;
  overflow: scroll;
} */
.navbar-brand {
  font-family: "Charm", cursive;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgb(202, 128, 128);
}
.phName {
  font-family: "Slabo 27px", serif;
  margin-top: 1%;
  color: rgb(202, 128, 128);
}
#Home,
#navbarDropdown,
#Contact,
#drDown,
#footerName {
  color: rgb(202, 128, 128);
}

.nav-link:hover {
  color: #6e5b54 !important;
}

#mainName {
  font-size: 50px;
  font-weight: bold;
  font-family: "Charm", cursive;
  letter-spacing: 3px;
  color: rgb(160, 76, 76);
}

#LidName {
  font-size: 50px;
  margin-top: 10%;
  font-weight: bold;
  font-family: "Charm", cursive;
  letter-spacing: 3px;
  color: rgb(160, 76, 76);
}

#staf {
  margin-left: 20%;
  font-size: 30px;
  font-family: "Charm", cursive;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

.nav-link {
  font-family: "Slabo 27px", serif;
}

.dropdown-item {
  font-family: "Slabo 27px", serif;
}

/*sticky header position*/
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.navbar-nav {
  margin-left: 60%;
}

body {
  min-height: 1200px;
}

nav {
  background: #eaebec;
  min-height: 85px;
}

#AboutW {
  text-align: center;
  font-size: 30px;
  margin-top: 3%;
  font-weight: bold;
  font-family: "Slabo 27px", serif;
  letter-spacing: 3px;
  color: rgb(160, 76, 76);
  border-bottom: 2px solid rgb(160, 76, 76);
  padding-bottom: 3%;
}

/* .LBAbout {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: "Slabo 27px", serif;
  letter-spacing: 3px;
  color: rgb(160, 76, 76);
} */

.textAbout {
  color: black;
  text-align: justify;
  /* padding-left: 20%; */
  padding-left: 5%;
  color: rgb(221, 142, 120);
}

.textAbout2 {
  color: black;
  text-align: justify;
  /* padding-left: 20%; */
  padding-left: 5%;
  color: rgb(221, 142, 120);
}
.hi {
  text-align: center;
  /* font-weight: bold; */
}

#containerAbout {
  margin-top: 3%;
}

.bio-image {
  margin-left: 5%;
  height: 520px;
  margin-top: 5%;
  /* width: 400px; */
}

#footerName {
  padding-top: 20px;
  font-family: "Charm", cursive;
}

#Email {
  margin-left: 47%;
  color: rgb(202, 128, 128);
}

/* Sticky footer styles
                -------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: 85px;
  background-color: hsl(120, 4%, 91%);
}

html {
  height: 100%;
  position: relative;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
