.navbar-brand {
  font-family: "Slabo 27px", serif;
  font-weight: bold;
  letter-spacing: 2px;
}
.phName {
  font-family: "Slabo 27px", serif;
  margin-top: 1%;
}

#mainName {
  font-size: 50px;
  margin-top: 30px;
  margin-left: 30%;
  font-weight: bold;
  font-family: "Slabo 27px", serif;
  letter-spacing: 3px;
}

#staf {
  margin-left: 35%;
  font-size: 30px;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Slabo 27px", serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  /* padding: 20px 20px; */
}

.nav-link {
  color: black;
}

/*sticky header position*/
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.navbar-nav {
  margin-left: 60%;
}

body {
  min-height: 1200px;
}
nav {
  background: #eaebec;
  min-height: 85px;
}

/* Sticky footer styles
                -------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: 85px;
  background-color: rgb(200, 209, 200);
}

html {
  height: 100%;
  position: relative;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
