/* #bodyimg {
  background-image: url(images/main.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
  width: 100%;
  overflow: scroll;
} */
.navbar-brand {
  /* font-family: "Slabo 27px", serif; */
  font-family: "Charm", cursive;
  font-weight: bold;
  letter-spacing: 2px;
}
.phName {
  font-family: "Slabo 27px", serif;
  margin-top: 1%;
}

#mainName {
  font-size: 50px;
  margin-top: 10%;
  margin-left: 30%;
  font-weight: bold;
  /* font-family: "Slabo 27px", serif; */
  font-family: "Charm", cursive;
  letter-spacing: 3px;
}

#staf {
  margin-left: 35%;
  font-size: 30px;
  /* font-family: "Slabo 27px", serif; */
  font-family: "Charm", cursive;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

.nav-link {
  color: black;
  font-family: "Slabo 27px", serif;
}

.dropdown-item {
  /* font-family: "Charm", cursive; */
  font-family: "Slabo 27px", serif;
}
#bodyimg {
  height: 600px;
  width: 100%;
}

/*sticky header position*/
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.navbar-nav {
  margin-left: 60%;
}

body {
  min-height: 1200px;
}

nav {
  background: #eaebec;
  min-height: 85px;
}

.AboutW {
  text-align: center;
  font-size: 30px;
  margin-top: 10%;
  margin-left: 8%;
  font-weight: bold;
  font-family: "Slabo 27px", serif;
  letter-spacing: 3px;
}

.LBAbout {
  text-align: center;
  font-size: 30px;
  margin-left: 8%;
  font-weight: bold;
  font-family: "Slabo 27px", serif;
  /* font-family: "Charm", cursive; */
  letter-spacing: 3px;
}

.textAbout {
  color: black;
  text-align: justify;
  padding-left: 20%;
}
#containerAbout {
  margin-top: 80px;
}

.bio-image {
  margin-top: 30%;
}

#footerName {
  padding-top: 20px;
  font-family: "Charm", cursive;
}

#Email {
  margin-left: 47%;
  color: rgb(92, 29, 29);
}

/* Sticky footer styles
                -------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: 85px;
  background-color: hsl(120, 4%, 91%);
}

html {
  height: 100%;
  position: relative;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
