.navbar-brand {
  font-family: "Slabo 27px", serif;
  font-weight: bold;
  letter-spacing: 2px;
}
.phName {
  font-family: "Slabo 27px", serif;
  margin-top: 1%;
}

.nav-link {
  color: black;
}
.matPort {
  margin-left: 40%;
  margin-top: 2%;
  margin-bottom: 2%;
  letter-spacing: 4px;
  line-height: 3em;
}
#bodyimg {
  height: 600px;
  width: 100%;
}

/*sticky header position*/
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.navbar-nav {
  margin-left: 60%;
}

body {
  min-height: 850px;
}

nav {
  background: #eaebec;
  min-height: 85px;
}

#footerName {
  padding-top: 20px;
}

#Email {
  margin-left: 47%;
  color: rgb(92, 29, 29);
}

.submit {
  margin-top: 5%;
}

/* Sticky footer styles
                      -------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: 85px;
  background-color: hsl(120, 4%, 91%);
}

html {
  height: 100%;
  position: relative;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
